# 꿈의대학 첫 시작

# 파이썬 기초

In [ ]:
print("Hello world!")

###### 숫자형

In [1]:
print(12345)

12345

In [2]:
print("안녕하세요")

안녕하세요

In [4]:
print(1+3) # 덧셈

4

In [5]:
print(2-3) # 뺄샘

-1

In [6]:
print(2*3) #곱셈

6

In [7]:
print(2/3) #나눗셈

0.6666666666666666

In [8]:
print(2//3) #몫

0

In [9]:
print(2%3) #나머지

2

In [12]:
print("강아지 "+"고양이")

강아지 고양이

In [13]:
print('호랑이')

호랑이

In [14]:
print("I'm boy")

I'm boy

In [15]:
print("결과값은", 2*7, "입니다")

결과값은 14 입니다

In [16]:
print("100"+"200")

100200

In [17]:
print(100+200)

300

In [18]:
print("반가워요 "*20)

반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요 반가워요

In [24]:
x = 100

In [25]:
print(x)

100

In [27]:
x = 100
x = 200
print(x)

200

In [29]:
x = 100
y = 200
sum = x+y
print(sum)

300

In [33]:
name = "이주원"
address = "안산시 단원구"
print(name)
print(address)

이주원
안산시 단원구

In [34]:
score = 10
score = score + 1
print(score)

11

In [35]:
x = 100
y = 200
sum = x + y
print(x, "와", y, "의 합은", sum, "입니다")

100 와 200 의 합은 300 입니다

In [42]:
x = int(input("숫자를 입력해 수세요 : "))
y = int(input("숫자를 입력해 수세요 : "))
sum = x + y
print(x, "와", y, "의 합은", sum, "입니다")

1234657987894212789784774 와 49647176541324768789123456798 의 합은 49648411199312663001913241572 입니다

In [47]:
name = input("이름을 입력하시오: ")
print(name,"씨 안녕하세요?\n파이썬에 오신 것을 환영합니다.")

이주원 씨 안녕하세요?
파이썬에 오신 것을 환영합니다.

In [7]:
name = input("이름을 입력하시오:")

x = int(input("첫번째 정수를 입력해 수세요 : "))
y = int(input("두번째 정수를 입력해 수세요 : "))
sum = x + y

print("\n\n",name,"씨, 안녕하세요?\n파이썬에 오신 것을 환영합니다.")
print("\n",x, "와", y, "의 합은", sum, "입니다")

 이주원 씨, 안녕하세요?
파이썬에 오신 것을 환영합니다.

 132 와 465 의 합은 597 입니다